<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.98.0">
 
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <meta name="theme-color" content="#712cf9">

    
   

   
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"> Dashboard </a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-item nav-link:focus">
        <a class="nav-link nav-brand text-dark" aria-current="page" href="/">ICARE Board</a>
        <a class="nav-link nav-brand text-dark" aria-current="page" href="/myboard">My Board</a>
        <a class="nav-link nav-brand text-dark" href="/drugs">Drugs</a>
        <a class="nav-link nav-brand text-dark" href="/add">ManageDocuments</a>
        <a class="nav-link nav-brand text-dark" href="/uploaddocuments">Palatte</a>
        <form class="d-flex" method="POST" action="/" novalidate>
            <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
       
      </div>
    </div>
  </div>
</nav>
</body>