/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-repeat: no-repeat;
  background-size: cover;
}
.table tr:hover{
  background-color:#FFA500 ;
 } 
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}


/* Style the navigation bar */
nav {
  background-color: rgb(40, 86, 203);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-left: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #f7f6f6;
  font-weight: bold;
}

nav a:hover {
  color: #4cd719;
}

.navbar-brand {
  text-align: left;
}

/* Style the hero section */
.hero-section {
  background-image: url('https://thumbs.dreamstime.com/b/doctor-stethoscope-hand-hospital-background-gown-94227568.jpg');
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: top;
  color: #fff;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: black;
}

.cta-btn {
  background-color: #0077c2;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.cta-btn:hover {
  background-color: #0062a3;
}

/* Style the about section */
.about-section {
  padding: 3rem 1rem;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.learn-more-btn {
  background-color: #0077c2;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.learn-more-btn:hover {
  background-color: #0062a3;
}

/* Style the services section */
.services-section {
  background-color: #f9f9f9;
  padding: 3rem 1rem;
  text-align: center;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.services-section ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.services-section li {
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer p {
  font-size: 1rem;
  margin: 0;
}
